<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div class="container my-5 card">
            <div class="card-body">
                <form action="addCategories" method="POST">
                    <div class="mb-3 ">
                        <h4>Add Category</h4>
                        <label for="exampleInputEmail1" class="form-label ">Category</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="category_name" required>

                        <button type="submit" class="btn mt-3 loginButton">Submit</button>
                </form>
            </div>
        </div>
        </div>

        <%- include('../layout/footer.ejs') %>