<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div class="container my-5">

            <form>
                <div class="mb-3 ">

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Add Image 1</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>


                    <div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Add Image 2</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>


                        <div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Add Image 3</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>


                            <div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Add Image 4</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>


                                <div class="my-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Product Name">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Price">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="stock">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Description">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Category">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="sub-category">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        </div>

        <%- include('../layout/footer.ejs') %>