<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div style="padding: 20px 20px 20px 20px;" class="my-5 container">
            <table class="table table-primary table-striped table-bordered align-middle table-hover">
                <thead>
                    <tr>
                        <th>SL.NO</th>
                        <th>IMAGE</th>
                        <th> PRODUCT NAME</th>
                        <th>PRICE</th>
                        <th>CATEGORY</th>
                        <th>STOCK</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>

            </table>
        </div>

        <%- include('../layout/footer.ejs') %>