<%- include('./layout/header.ejs') %>
    <%- include('./layout/userNavbar.ejs') %>

        <div>
            <img src="/img/construction.jpg" alt="" class="img-fluid" style="width: 100;">
        </div>
        <%- include('./layout/userFooterbar.ejs') %>
            <%- include('./layout/footer.ejs') %>