<%- include('./layout/header.ejs') %>
        <h1>BIG HOME</h1>
        <button type="submit" class="btn btn-danger"><a href="/logout"
                        class="text-white text-decoration-none">Logout</a></button>

        <% if (flashes.success) { %>
                <div class="">
                        <%= flashes.success %>
                </div>
                <% } %>

                        <%- include('./layout/footer.ejs') %>