<%- include('./layout/header.ejs') %>
    <!-- navbar starts here -->
    <div class="d-flex customerCare justify-content-between p-3 container-fluid ">
        <div class="">24/7 customer service 1-800-235-5678
        </div>
        <form class="d-flex nav-link text-light " role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-light" type="submit">Search</button>
        </form>
    </div>
    <nav class="navbar navbar-expand-lg " style=" background-color: #27323F;height: 30px;">
        <div class="container-fluid  navbarColor">
            <a class="navbar-brand text-light img-fluid " href="#"><img src="/images/logo.png" class="logoControl"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            All products
                        </a>
                        <ul class="dropdown-menu navbarColor ">
                            <li><a class="dropdown-item text-light miniNav" href="#">Home Appliances</a></li>
                            <li><a class="dropdown-item text-light miniNav" href="#">Audio & video</a></li>
                            <li><a class="dropdown-item text-light miniNav" href="#">Refrigerator</a></li>
                            <li><a class="dropdown-item text-light miniNav" href="#">Kitchen Appliances</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="#">New Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="#">Todays deal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <!-- Navbar ends here -->

    <section>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">

                    <div class="p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">SIGN UP</p>

                                <% if (flashes.error) { %>

                                    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                                        <ul>

                                            <% flashes.error.forEach((clientError)=> { %>

                                                <li>

                                                    <%= clientError.msg %>
                                                </li>
                                                <% }) %>
                                        </ul>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    <% } %>

                                        <form class="mx-1 mx-md-4" action="/signup" method="POST">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" class="form-control"
                                                        name="name" />
                                                    <label class="form-label" for="form3Example1c">Your
                                                        Name</label>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="form3Example3c" class="form-control"
                                                        name="email" />
                                                    <label class="form-label" for="form3Example3c">Your
                                                        Email</label>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4c" class="form-control"
                                                        name="password" />
                                                    <label class="form-label" for="form3Example4c">Password</label>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4cd" class="form-control"
                                                        name="password-confirm" />
                                                    <label class="form-label" for="form3Example4cd">Repeat
                                                        your
                                                        password</label>
                                                </div>
                                            </div>

                                            <div class="form-check d-flex justify-content-center mb-5">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="form2Example3c" />
                                                <label class="form-check-label" for="form2Example3">
                                                    I agree all statements in <a href="#!">Terms of
                                                        service</a>
                                                </label>
                                            </div>

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                            </div>

                                        </form>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <img src="/images/footerlogo.png" class="footerLogo" alt="">
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Shop</h6>
                        <p>
                            <a href="#" class="link-underline-light">All products</a>
                        </p>
                        <p>
                            <a href="#" class="link-underline-light">Todays deals</a>
                        </p>
                        <p>
                            <a href="#" class="link-underline-light">New Arrivals</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Need help?</h6>
                        <p><a class="mr-3 link-underline-light" href="#">Contact</a></p>
                        <p><a class="mr-3 link-underline-light" href="#"> Order tracking</a></p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact us</h6>
                        <p>
                            123 Fifth Avenue,New York,
                        </p>
                        <p>
                            NY 10160
                        </p>
                        <p>
                            contact@info.com
                        </p>
                        <p>
                            8907244273
                        </p>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 text-white" style="background-color: #27323F">
            © 2023 Copyright:
            <a class="text-white text-decoration-none" href="juvinvinod@.com/">juvinvinod@gmail.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <%- include('./layout/footer.ejs') %>