<%- include('./layout/header.ejs') %>
    <%- include('./layout/userNavbar.ejs') %>


        <div
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
            <h1 style="text-align: center;">We have sent an email to your account. Please confirm to continue.</h1>
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn  btn-lg p-2 loginButton">
                    <a href="/login" class="btn loginButton">Login</a>
                </button>
            </div>
        </div>



        <%- include('./layout/userFooterbar.ejs') %>
            <%- include('./layout/footer.ejs') %>