.customerCare {
    background-color: #27323F;
    color: #ffff;
    font-size: 13px;
}

.formSize {
    width: 400px;
}

.loginButton {
    background-color: #FBBB24;
    color: black;
}

.loginButton:hover {
    background-color: #FBBB24;
    color: black;
}

.logoControl {
    height: 50px;
}

.navbarColor {
    background-color: #27323F;
}

.miniNav:hover {
    background-color: #27323F;
}

.navIcon {
    background-color: #27323F;
    color: #ffff;
    /* padding-right: 25px; */
    margin: 0px 25px;
}

/*footer*/
.footerLogo {
    height: 75px;
}


.errorStatus {
    margin: 50px;
    text-align: center;
}


/*admin category page */
.addCategoryButtonSetup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 0;
}

.addCategoryButton {
    padding: 10px;
    font-weight: bold;
}

.categoryPage {
    padding-left: 50px;
    padding-right: 50px;
}

/*product display page */

.productImageTable {
    width: 100px;
}