.customerCare {
    background-color: #27323F;
    color: #ffff;
    font-size: 13px;
}

.formSize {
    width: 400px;
}

.loginButton {
    background-color: #FBBB24;
    color: black;
}

.loginButton:hover {
    background-color: #FBBB24;
    color: black;
}

.logoControl {
    height: 50px;
}

.navbarColor {
    background-color: #27323F;
}

.miniNav:hover {
    background-color: #27323F;
}

.navIcon {
    background-color: #27323F;
    color: #ffff;
    /* padding-right: 25px; */
    margin: 0px 25px;
}

/*footer*/
.footerLogo {
    height: 75px;
}


.errorStatus {
    margin: 50px;
    text-align: center;
}


/*admin category page */
.addCategoryButtonSetup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 0;
}

.addCategoryButton {
    padding: 10px;
    font-weight: bold;
}

.categoryPage {
    padding-left: 50px;
    padding-right: 50px;
}

/*product display page */

.productImageTable {
    width: 100px;
}

/* user homepage */
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

/* carousal home */
.carousel-inner {
    max-height: 300px;
    margin-top: 10px;
    /* Adjust the height value as needed */
}




@media (max-width: 768px) {

    /* Adjust the breakpoint value as needed */
    #carouselExampleAutoplaying {
        margin-top: 40px;
        /* Adjust the margin-top value as needed */
    }
}

/* homepage */
.navbar {
    position: relative;
    z-index: 1001;
}

.productContainer {
    position: relative;
    z-index: 1;
}

/* loader  in add product page*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}