<!-- navbar starts here -->
<div class="d-flex customerCare justify-content-between p-3 ps-5  container-fluid ">
    <div>24/7 customer service 1-800-235-5678
    </div>

</div>
<div>
    <nav class="navbar navbar-expand-lg " style=" background-color: #27323F;height: 30px;">
        <div class="container-fluid  navbarColor">
            <a class="navbar-brand text-light img-fluid " href="/admin"><img src="/img/logo.png" class="logoControl"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-theme="dark"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light " href="/admin">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="/admin/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="/admin/products?page=1">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="/admin/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="/admin/customers">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="/admin/coupons">Coupons</a>
                    </li>
                </ul>
                <div class="dropdown" style="margin-right: 30px;background-color: #27323F;">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: #27323F;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%= user.name %>
                    </button>
                    <ul class="dropdown-menu navbarColor" style="min-width: 60px !important;">
                        <li><a class="dropdown-item text-light miniNav" href="/logout">Logout</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</div>
</div>
<!-- Navbar ends here -->