<!-- navbar starts here -->
<div class="d-flex customerCare justify-content-between p-3 ps-5 container-fluid ">
    <div class="">24/7 customer service 1-800-235-5678
    </div>
    <form class="d-flex nav-link text-light " role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-light" type="submit">Search</button>
    </form>
</div>
<nav class="navbar navbar-expand-lg " style=" background-color: #27323F;height: 30px;">
    <div class="container-fluid  navbarColor">
        <a class="navbar-brand text-light img-fluid " href="/"><img src="/img/logo.png" class="logoControl" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-theme="dark"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        All products
                    </a>

                    <ul class="dropdown-menu navbarColor ">
                        <% categories.forEach((object)=> { %>
                            <li><a class="dropdown-item text-light miniNav" href="#">

                                    <%= object.category_name %>
                                        <% }) %>
                                </a></li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-light ps-3" href="#">New Arrivals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light ps-3" href="#">Todays deal</a>
                </li>
            </ul>
            <a href="/cart"><i class="fa fa-cart-shopping text-decoration-none navIcon pb-1"></i></a>
            <a href="/wishList"><i class="fa-regular fa-heart text-decoration-none navIcon pb-1"></i></a>
            <% if(locals.user) { %>
                <div class="dropdown" style="margin-right: 30px;background-color: #27323F;">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: #27323F;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%= user.name %>
                    </button>
                    <ul class="dropdown-menu navbarColor" style="min-width: 60px !important;">
                        <li><a class="dropdown-item text-light miniNav" href="/userProfile">Profile</a></li>
                        <li><a class="dropdown-item text-light miniNav" href="/logout">Logout</a></li>
                    </ul>
                </div>
                <% } else {%>
                    <a class="nav-link text-light ps-3 me-2 " href="/login"> Login </a>
                    <% } %>
        </div>
    </div>
</nav>
</div>
<!-- Navbar ends here -->